*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
    }
    :root{
    --primary-colour:#746c6c;
      --secondary-colour:rgb(55, 54, 54);
      --ngejreng-colour:rgb(104, 17, 17);
      
    }
    body{
        /* Full height */
        height: 100vh;
      
        /* Center and scale the image nicely */
        background-position: center;
        background: url(/foto/baju.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Quicksand";
       opacity: 0.9;
    }
    




.container{
background-color:#9e9a9a ;
height: 30rem;
width: 30rem;
margin: auto;
margin-top:8rem;
border:0.2em solid white;
border-radius: 0.5em;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}




.container .Judul{
   display: flex;
    margin-top: 1rem;
    justify-content: center;
    padding-top: 2rem;
  justify-self: center;
 
  color: aliceblue;
  font-size: 2em;
font-weight: 800;
}

.container .Judul span{
    color:var(--primary-colour);
}
.container .form{

    width: 80%;
    margin: 0 auto;
  



  
}
.container .form ul{
    list-style: none;
  margin-top: 2.5rem;
}
.container .form ul li{
    padding-top:1.3rem;
   margin: 0em 2em 0em 2em;
}
.container .form ul li input{
    font-size: 1em;
    width: 85%;
    padding: 0.5em 0em 0.5em 3em;
    border-radius:  1px;
}

.container .form ul li input::placeholder{
    font-family: '';
    font-size: 1em;

    
}
.remember-me{
margin: 0.5rem 0rem 0rem 2rem;
font-size: 0.8em;
}
.ingat{
    color: rgb(255, 255, 255);
    margin: 0rem 0rem 0rem 0.5rem;
}
.ingat span{
    color: var(--secondary-colour);
}

.login-button {
    width: 85%;
    height: 2.5em;
    border: none;
    outline: none;
    color: #fff;
  background-color: var(--secondary-colour);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 2rem;
    margin:1rem 0rem 1rem 2rem;
  }
  
  .login-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #000000, #ff0000, #000000, #ff0000, #000000, #ff0000, #000000, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .login-button:active {
    color:var(--secondary-colour);
  }
  
  .login-button:active:after {
    background: transparent;
  }
  
  .login-button:hover:before {
    opacity: 1;
  }
  
  .login-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:var(--secondary-colour);
    left: 0;
    top: 0;
    border-radius: 0.4em;
  }
.choose-log{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login{
    color: aliceblue;
    font-size: 0.8em;
}
.button-buttom{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0rem 0.5rem 0rem 0.5rem;
 
}
.button-buttom button{
  width:12em;
  height:2em;
  margin:1rem 0.25rem 0rem 0.25rem;
}
.button-buttom .gopo{
  width:3em;
  height:2em;
}
 .sign-up{
display:flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size:0.8em ;
  margin:1rem 0rem 0rem 0rem;

}
.sign-up a{
color: var(--ngejreng-colour);
}





/*  @media screen and (min-width:576px) {
  body{
    max-width: 575px; /*portrait phone 

  }
  
  .container {

  }
}



@media screen and (min-width :576px) {
  body{
    max-width:767px; /* landscape phone *

  }
  
  .container {
    
  }
}

@media screen and (min-width:768px) {
  body{
    max-width: 991px; /* tablets*
  }
  
  .container {

  }
}


@media screen and (min-width:992px) {
 body{
  max-width: 1999px; /* Laptop  *
 } 
  
  .container {

  }
}



@media screen and (min-width:1200px) {
  body{
    
      max-width: 1399px; /* larger desktop *
  }
  .container {
 
  }
}

@media screen and (min-width:1400px) {
  .container {
     
  }
}
*/
