@import url();



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
    }
    :root{
      --primary-colour:#746c6c;
       --secondary-colour:rgb(45, 150, 176);
      --ngejreng-colour:rgb(104, 17, 17);
      --deskripsi-colour:rgb(61, 100, 110);
      --background-trend1:rgb(30, 29, 29);
      --background-trend2:rgba(54, 52, 52, 0.721);
      
    }

    body{
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
    background-color: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Quicksand";
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Set the shadow (horizontal-offset, vertical-offset, blur-radius, shadow-color) */

    }
    a{
        text-decoration: none;
    }
         
   .wrapper{
    min-height: 100vh;
   
    /* Center and scale the image nicely */
    background-position: center;
background-image: url(/foto/silver.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

   }

   .wrapper1::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
  
  background: linear-gradient(0deg,rgba(255,255,255) 3%,rgba(1,1,3,1) 25%);
  }
  
    .header{
        display:flex;
      justify-content: space-between;
        align-items: center;
      padding:25px 10%;
     background:rgb(23, 22, 22);
     position: fixed;
     z-index: 999;
      width: 100%;
      opacity: 0.8;

   }
    
   .logo{
    
        cursor: pointer;
        width: 90px;
        height: 50px;
     opacity: 1;
    }

   .nav-links1{
    list-style: none;
   }
  .nav-links1 li{
    display: inline-block;
    padding:0 20px;
    font-size: 1.2em;
    opacity: 1;
  
   
   }
   .nav-links1 li a{
    color: var(--primary-colour);
    font-weight: 700;
    transition: 0.5s; /* Transition duration */}
    
    .nav-links1 li a span{
      color: cyan;
    }

    .navbar1 .toggle_btn{
font-size: 1.5rem;
      color: cyan;
      cursor: pointer;
      display: none;
    }
    .dropdown_menu{  /*DROPDOWN MENU */

      position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: cyan;

    }
    .dropdown_menu.open{
      height: 240px;
    }
    .dropdown_menu li{
      padding: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .dropdown_menu{
      display: block;
    }
    .dropdown_menu li a{
      color: cyan;
      font-weight: 700;
    }

  
 
                                               /*Trending Card */
   .Trending{
   min-height: 100vh;  
    /* Center and scale the image nicely */
    background-position: center;
background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
        font-family: 'Roboto';
        color: var(--primary-colour);
        font-weight: 700;
        
   }
   .isi{
    width:100%;
    background-color: #ffffff;
    margin-top: 5em;
   }
  .Trending .headtrend{
    font-size: 1.5em;
    margin:0em 4em 0em 5em;
   }
 
    .tomboltrend {
    width: 10em;
    height: 1.5em;
    border: none;
    outline: none;
    color: #fff;
  background-color: var(--secondary-colour);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10em;
  
  line-height: 0.5rem;
  float: right;
  margin:0em 4em 0em 0em;
  padding: 1em 2em 1em 2em;
  font-size: 1.5em;
  
  }
  
 .tomboltrend:before {
    content: '';
    background: linear-gradient(45deg, #06e5f1, #09728f, #00fbff, #05caca, #098070, #0be5dd, #39fcff, #62e2f3, #68dae5);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 0.5em;
  }
  
.tomboltrend:active {
    color: var(--secondary-colour);
  }
  
  .tomboltrend:active:after {
    background: transparent;
    
  }
  
 .tomboltrend:hover:before {
    opacity: 1;
  }
  
 .tomboltrend:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:var(--secondary-colour) ;
    left: 0;
    top: 0;
    border-radius: 0.4em;
    color: var(--primary-colour);
  }
  
    
    
  .headtrend span{
      color: cyan;
    }

  

   
   .gallding{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin: 100px 0px 50px ;

  
  }

.kartu{

width: 20%;
margin: 15px;
padding: 0.3em 0.5em 0em 0.5em;
box-sizing: border-box; /*Untuk memunculkan border pada kartu */
float: left;
align-items: center;
cursor: pointer;
margin:20px 70px 20px 0px  ; /*Mengatur jarak antara kartu */
box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.20); /*Mengatur warna border card */
transition: .4s;
background: white;
  height: 400px;
  text-align: center;}
  
  .fotocard{
    width: 100%;
    height: 200px;
    text-align: center;
    margin: 0px  auto 15px 0px;
    display: block;
   
  }
                        


   
                                 /*Products Start */
.wrapper2{
    min-height: 100vh;  
    /* Center and scale the image nicely */
    background-position: center;
    background:rgb(57, 57, 57);
    background-repeat: no-repeat;
    background-size: cover;
        transform: translate(0px -8px);
        position: relative;
        
}
.wrapper2::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;

background: linear-gradient(0deg,rgba(255,255,255) 3%,rgba(1,1,3,1) 25%);
}


.Produk{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-colour);
  font-size: 40px;
  padding: 40px 0px 30px 0px;
  font-weight: 700;
}
.Produk span{
  color: var(--secondary-colour);
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px opx;
  background: rgb(57, 57, 57);
 }

 
/*Kart barang */
 .namaprod{
        font-size: 2em;
        text-align: center;
        margin: 0;
        padding-top: 10px;
 }

    
.content{
 width: 20%;
 margin: 15px;
 box-sizing: border-box;
 float: left;
align-items: center;
border-radius: 20px;
cursor: pointer;
padding-top: 10px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.20); /*Mengatur warna border card */
transition: .4s;
background: white;

    }
.content:hover{
box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0, 0, 0, 0.23);
transform: translate(0px -8px);

}
.fotoprod{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;

}
p{
    text-align: center;
    color:var(--deskripsi-colour);
    padding-top:0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: rgb(34, 31, 31);
    margin: 0;
}

.list-bintang{  /*Mengatur bintang rating */
list-style: none;
display: flex;
justify-content: center;
align-items: center;
padding-top: 0;
}

.bintang{
  padding-top: 5px;
}

.fa{
font-size: 26px;
transition: .4s;
margin: 3px;
}
.checked{
    color: var(--secondary-colour);
}

.fa :hover{
transform: scale(1.3);
    transition:.4s;
    margin: 3px;

}

button{
    font-size: 24px;
    text-align: center;
    color: aliceblue;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius:20px ;
}
.buy1{
    background-color: lime;
}

.buy2{
    background-color: brown;
}
.buy3{
    background-color: rgb(134, 126, 126);
}

.buy4{
    background-color: rgb(46, 45, 45);
}                                   /*Products End */

 /*Halaman about us */

 .heading-about{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  text-align: center;
  margin:50px auto;


 }
 .heading-about h1{
   font-size: 40px;
   color:var(--primary-colour);
   margin-bottom: 25px;
   position: relative;
   font-weight: 700;
 }
 .heading-about span{
  color: cyan;
 }
 .heading-about p{
  font-size: 18px;
  color:#333;
  margin-bottom: 35px; /*Jarak antara foto dengan paragraph atas */
 }
 .container-about{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;

 }
 .about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 
 }
 .about-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;

 }
 .about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
 }
 .about-image img:hover{
 transform: scale(1.2);}
 .about .about-content{
  flex:1;
 }
 .about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
 }

 .about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: #333;
 }













/*Halaman Footer */
 .footer{
  height: 100vh;
  
 }

.logofoot{
    align-items: center;
    justify-content: center;
  margin-left: 45%;
  padding-bottom: 5rem;
  }
  
  .logofoot .logodua{

    width: 90px;
    height: 50px;
    cursor: pointer;
}
  
 
  
  .container{
    max-width: 1170px;
    margin: auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .footer{
    background-color:var(--primary-colour);
    padding: 70px 0;
  }
  
  ul{
  list-style: none;
  
  }
  .footer-col h4{
    color: #040404;
  font-weight: 800;
  padding-bottom: 0.5em;
  }
  
  .footer-col ul li a{
    color: #000000;
  }
  .footer-col{
    width: 20%;
    padding: 0 1em;
  }
  

















@media (max-width:1000px){
    .content{
        width: 45%;
    }
}



@media (max-width:750px){
   .navbar1 .nav-links1{
    display: none;
   }
   .navbar1 .toggle_btn{
    display: block;
   }
  
  
  
  .Trending{
      font-size: 16px;
    
    }
  .kartu{
    margin:20px 10px 100px 0px; 
    width: 80%;
    height: 100%;
  }
  .fotocard{
    height: 70px;
  
  }
  .content{
        width: 100%;
    }
.heading-about{
  padding: 0 20px;
}
.heading-about h1{
  font-size: 17px;
}
.heading-about p{
  font-size: 17px;
  margin-bottom: 0px;

}
.container{
  padding: 0px;
}
.about{
  padding: 20px;
  flex-direction: column;
}
.about-image{
  margin-right: 0px;
  margin-bottom: 20px;
}
.about-content p{
padding: 0px;
font-size: 16px;
}
    footer{
      height: 100vh;
    
    }
}

@media (min-width: 645px) and (max-width: 767px) {
  /* Your CSS rules for this screen size range here */}
 
 
 
 


